<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'drugs')}">

<body>

<h2>Drugs</h2>

<table id="drugs" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 200px;">Name</th>
        <th>Pet type</th>
        <th>Batch number</th>
        <th style="width: 120px">Expiry date</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="drug : ${drugs}">
        <td th:text="${drug.getName()}"></td>
        <td>
            <span th:if="${drug.getNrOfPetTypes()} > 0" th:each="petType, iter : ${drug.getPetTypes()}" th:text="${petType.getName()} + (!${iter.last} ? ', ' : '')"></span>
            <span th:unless="${drug.getNrOfPetTypes()} > 0">none</span>
        </td>
        <td th:text="${drug.getBatchNumber()}"></td>
        <td th:text="${drug.getExpiryDate()}"></td>
        <td>
            <a th:href="'/drugs/edit/' + ${drug.getId()}">Edit</a>
        </td>
        <td>
            <a th:href="'/drugs/delete/' + ${drug.getId()}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/drugs/new" class="btn btn-default">Add New Drug</a>

</body>
</html>
