<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'drugs')}">

<body>

<h2>Drugs</h2>

<table id="drugs" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 200px;">Name</th>
        <th>Pet type</th>
        <th>Batch number</th>
        <th style="width: 120px">Expiry date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="drug : ${drugs}">
        <td th:text="${drug.getName()}"/>
        <td th:text="${drug.getType().getName()}"/>
        <td th:text="${drug.getBatchNumber()}"/>
        <td th:text="${drug.getExpiryDate()}"/>
    </tr>
    </tbody>
</table>

</body>
</html>
